parameters:
    paths:
        - src

    level: 8
    tmpDir: "%rootDir%/../../../phpstan"

    excludePaths:
        - src/Util/ReflectionExtractor/Strategy/PropertyExtractor.php
        - src/DependencyInjection/Configuration.php
